
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
:root {
    --mainColor2: #85dd77;
    --mainColor1: #f1d65f; 
    --bgColor : #88cded;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    background-color: var(--bgColor);
    align-items: center;
}

.gameContainer {
    font-size: 16px;
    background-color: #ffffff;
    width: 45em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30%;
    padding: 3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
}

.menuContainer {
    font-size: 16px;
    background-color: #e2e2e2;
    width: 32em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 77%;
    padding: 2em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
}

.levelSelector {
    padding: 10px;
    margin: 10px;
}

.letterContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
}

#letterContainer button {
    height: 2.4em;
    width: 2.4em;
    border-radius: 0.3em;
    background-color: #ffffff;
}

.newGamePopup {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.6em;
}

#userInput {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin: 0.6em 0 1.2em 0;
}

canvas {
    display: block;
    margin: auto;
    border: 1px solid #000000;
}

.hide {
    display: none;
}

#resultText h2 {
    font-size: 1.8em;
    text-align: center;
}

#resultText p {
    font-size: 1.25em;
    margin: 1em 0 2em 0;
}

#resultText span {
    font-weight: 600;
}

#newGameButton {
    font-size: 1.25em;
    padding: 0.5em 1em;
    background-color: #f4c531;
    border: 3px solid #000000;
    color: #000000;
    border-radius: 0.2em;
}

.winMsg {
    color: #39d78d;
}

.loseMsg {
    color: #fe5152;
}

.gameTitle h1 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: uppercase;
    width: 10em;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    border: 2px solid #222;
    padding: 5px 11px 3px 11px;
}

.gameTitle h1:before,
.gameTitle h1:after {
    background-color: #c50000;
    position: absolute;
    content: '';
    height: 15px;

    width: 15px;
    border-radius: 50%;
    bottom: 18px;
}

.gameTitle h1:before {
    left: -30px;
}

.gameTitle h1:after {
    right: -30px;
}


.addition {
    font-size: 40px;
    opacity: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(91, 228, 91);
}

@keyframes additionFade {
    0% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 0;
        transform: translate(0px, -60px);
    }
}

#addition.animating {
    animation: additionFade 2s;
}


.points {
    font-size: 62px;
    margin: 44px 0 0 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.watch {
    padding-left: 550px;
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
    display: flex;
    background-color: var(--bgColor);
}

.minuteDiv, 
.secondDiv, 
.milliSecondDiv {
    width: 12%;
    padding : 5px;
    padding-top: 9px;
    border-radius: 5px;
}

.minute, 
.second, 
.milliSecond {
    padding: 3px;
    background-color: var(--mainColor1);
    border-radius: 10px;
}

.minuteTitle, 
.secondTitle, 
.milliSecondTitle {
    background-color: var(--mainColor2);
    font-size: 1.2rem;
    padding: 3px;
    font-weight: bold;
    border-radius:10px;
}
